html, body { 
    display: block;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

.floatleft {
    float: left;
}

a.subLineLink {
    color: #0277bd;
    text-decoration: underline;
}

#root_title {
    float: left;
    font-size: 17px;
    line-height: 28px;
    margin-top: 5px;
    color: #eee;
}

#root_header_right {
    text-align:right;
    float:right;
    margin:0em 1em;
    color: white;
}

.layout-container .topbar .topbar-left {
    width: 150px;
}

.layout-container .topbar .topbar-right {
    padding: 10px;
}

.layout-container .topbar .logo {
    width: 95px;
    height: 42px;
    background: url(../icon.png) top left no-repeat;
}

@media (max-width: 1024px) {
    .hidden-xs { display: none; }
}

#root_footer {
    font-size: 10pt;
    padding: 1em;
}

#body_footer {
    font-size: 10pt;
    padding: 1em;
}

.panel-grid-table td {
    padding: 5px;
}

.linkcursor {
    cursor: pointer;
}

.underlined {
    text-decoration: underline;
}

.maxWidth150 {
    max-width: 150px;
}

.ui-datatable .ui-datatable-header {
    text-align: left;
}

/* fix primeng table footer border */
.ui-datatable tfoot {
    border-color: #cacaca;
}

.no-table-header thead {
    display: none;
}