<div class="layout-wrapper layout-compact">
    <div class="layout-container menu-layout-static menu-layout-horizontal">

<div class="topbar clearfix">
    <div class="topbar-left">            
        <a href="/pt2/"><div class="logo"></div></a>
    </div>

    <div class="topbar-right">
        <!--a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)" *ngIf="app.loginService.isLoggedIn"><i></i></a-->
    </div>
    <div id="root_title" class="hidden-xs">{{typeWriterMessage}}</div>

    <div id="root_header_right">
      <a *ngIf="app.loginService.isLoggedIn" class="linkcursor" title="Log off" (click)="logout()">
        <i class="fa ui-icon-exit-to-app"></i>
      </a>
      <br/>
      <span *ngIf="app.loginService.isLoggedIn">{{app.loginService.loginToken.name}}</span>    
    </div>
</div>

<!-- white line -->
<div style="position:fixed;background-color:white;height:1px;width:100%;top:74px;z-index:101;"></div>

<!-- Menu -->
<div class="layout-menu" *ngIf="app.loginService.isLoggedIn">
    <div class="nano">
        <div class="nano-content menu-scroll-content">
            <ul id="main-menu" class="ultima-menu clearfix">
                <li role="menuitem"><a [routerLink]="['/main']"><i class="fa ui-icon-input"></i><span>Main</span></a></li>
                <li role="menuitem"><a [routerLink]="['/export']"><i class="fa ui-icon-import-export"></i><span>Export</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/domains']"><i class="fa ui-icon-domain"></i><span>Domains</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/projects']"><i class="fa ui-icon-group-work"></i><span>Projects</span></a></li>
                <li role="menuitem"><a [routerLink]="['/budgets']"><i class="fa ui-icon-attach-money"></i><span>Budgets</span></a></li>
                <li role="menuitem"><a [routerLink]="['/templates']"><i class="fa ui-icon-dehaze"></i><span>Templates</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/adminfi']"><i class="fa ui-icon-settings-applications"></i><span>FI</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/budgetcontrol']"><i class="fa ui-icon-local-atm"></i><span>Control</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/budgetplans']"><i class="fa ui-icon-view-week"></i><span>Plans</span></a></li>
                <li role="menuitem" *ngIf="app.loginService.isUserInRole('admin')"><a [routerLink]="['/forecasts']"><i class="fa ui-icon-visibility"></i><span>Forecasts</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="layout-main">
  <router-outlet></router-outlet>

  <div *ngIf="app.loginService.isLoggedIn">
    <hr/>
    <a class="subLineLink" routerLink="/about">About</a>,
    <a class="subLineLink" routerLink="/pwchange">Change Password</a>
  </div>
</div>

<div class="layout-mask"></div>

    </div>
</div>